{%extends "registration/base.html"%} {% load bootstrap3 %} {% block content %}
<div class="container">
        <style>
                .container{
                    background-image: url('https://images.unsplash.com/photo-1416862291207-4ca732144d83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80');
                    background-size: cover;
                }
        </style>
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
      <p> It seeems Your password or Username is incorrect </p>
      {% endif %}
      <img class="logo" src="http://www.dallasarboretum.org/assets/img/instagram-word.png" width="90%"></img>

      <div class="panel panel-default" style="background: linear-gradient(to right, #141e30, #243b55); color: white">

        <div class="panel-heading">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body">

          <form action="/accounts/login/" method="post">
            {% csrf_token %} {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">
            <p> Don't have an account? <a href="/accounts/register">Register here</a>
                <p>Did you forget password ? <a href="/accounts/password/change">Change Password</a>
          </form>

        </div>

      </div>
      {% endblock %}