{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid" style="background: linear-gradient(to right, #141e30, #243b55);">
    <form  action="{%url 'welcome'%}" method="post" style="margin-left: 30%;margin-right: 30%;color: white">
      {%csrf_token%}
  
      {% bootstrap_form letterForm layout='inline' %}
      <input type="submit" class="btn btn-primary" value="Subscribe">
    </form>
    <div style="text-align: center;color: white">
          <h1> INSTAGRAM </h1>
          <p>IG</p>
          <br>
      </div>
      
      
      {% endblock %}
