{% extends "base.html" %} {% load bootstrap3 %} {% block content %}
<div class="jumbotron">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light|ZCOOL+KuaiLe" rel="stylesheet">
    <style>
        .jumbotron {
            background-image: url('https://images.unsplash.com/photo-1416862291207-4ca732144d83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80');
            background-size: cover;
        }
    </style>
    <form action="{%url 'welcome'%}" method="post" style="margin-left: 30%;margin-right: 30%;color: white">
        {%csrf_token%} {% bootstrap_form letterForm layout='inline' %}
        <input type="submit" class="btn btn-primary" value="Subscribe">
    </form>
    <div style="text-align: center;color: white">
            <img class="logo" src="http://www.dallasarboretum.org/assets/img/instagram-word.png"></img>
            <br> {% if images %} {% for image in images %}
        <div class="card bg-dark text-white">
            <img src="{{image.image.url}}" alt="{{ image.name }}">
            <div class="card-img-overlay">
                <h5>{{image.name}}</h5>
                <p>{{image.caption}}</p>
                {image_item.name}}
                <p class="card-text">
                    <a href="{% url 'newimage' image.id %}">
                        <button type="button" class="btn btn-primary">View</button>
                    </a>
                </p>
                <br> {% endfor %} {% else %}
                <h4 style="font-family: 'ZCOOL KuaiLe', cursive;"> Upload photos
                    <a href="{% url 'newimage' %}">here</a>.</h4>
                {% endif %}
                <!-- <style>
            *{
                background-image: url("https://images.pexels.com/photos/1035103/pexels-photo-1035103.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
                background-size: cover
                
            }
            </style> -->
                <div class="app-download-links">
                    <p style="font-family: 'Shadows Into Light', cursive;">Get the app.</p>
                    <a href="https://www.apple.com/ke/ios/app-store/">
                        <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533403096/download-appstore.png" alt="Download on App Store"
                        />
                    </a>
                    <a href="https://play.google.com/store?utm_source=emea_Med&utm_medium=hasem&utm_content=Feb2017&utm_campaign=Evergreen&pcampaignid=MKT-DR-emea-ke-1001280-Med-hasem-py-Evergreen-Feb2017-Text_Search_BKWS%7cONSEM_kwid_43700008633139486&gclid=Cj0KCQiA6dLgBRDoARIsAJgoM4v0Z8s7IrUKM5fEeZmJ_PObJ0YAkeQbk0_3K_FdNaGjv-rfvkBtXPcaAjeYEALw_wcB&gclsrc=aw.ds">
                        <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533403096/download-googleplay.png" alt="Download on Google Play"
                        />
                    </a>
                    <a href="https://www.microsoft.com/en-us/store/top-free/apps/pc">
                        <img src="https://res.cloudinary.com/jorpdesigns/image/upload/v1533403096/download-microsoft.png" alt="Get from Microsoft"
                        />
                    </a>
                </div>
                <style>
                    .app-download-links {
                        text-align: center;
                    }

                    .app-download-links p {
                        margin-bottom: 130px;
                    }

                    .app-download-links a img {
                        height: 45px;
                        margin: 0 7px 20px;
                    }
                </style>
            </div>
            {% endblock %}